---
layout: default
---
<div class="post">
  <article>
    {% if page.profile %}
      <div class="row">
        <div class="col-sm-3">
          {% if page.profile.image %}
            {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
            {% if page.profile.image_circular %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
            {% else %}
              {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
            {% endif %}
            {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
            {%
              include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
              cache_bust=true
            %}
          {% endif %}
          {% if page.profile.more_info %}
            <div class="more-info">{{ page.profile.more_info }}</div>
          {% endif %}
        </div>
        <div class="col-sm-9">
          <h1 class="post-title">
            {% if site.title == 'blank' %}
              <span style="font-family: serif; font-weight: 600;">{{ site.first_name }}</span> {{ site.middle_name }}
              <span style="font-family: serif; font-weight: 600;">{{ site.last_name }}</span>
            {% else %}
              {{ site.title }}
            {% endif %}
          </h1>
          <p class="desc">{{ page.subtitle }}</p>
          <div class="affiliation">
            {{ page.profile.affiliation }}              
          </div>
          <div class="social float-left">
            <div class="contact-icons">{% include social.liquid %}</div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h3>
        <span style="color: inherit">News</span>
      </h3>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers (Publications) -->
    {% if page.selected_papers %}
      <h3>
        <span style="color: inherit">Publications</span>
      </h3>
      &#x2A denotes equal contribution
      {% include all_papers.liquid %}
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}

    <!-- Services -->
    <div style="margin-bottom: -25px">
      <h3>
          <span style="color: inherit">Academic Services</span>
      </h3>
      <span style="font-weight: 400">Reviewer</span>: NeurIPS (2023), ICLR (2024), AAAI (2025), IEEE ICHI (2023).
      <br>
      <span style="font-weight: 400">Teaching Assistant</span>: Design and Analysis of Algorithms (Duke), Econometrics (Duke), Microeconomics (Duke).
    </div>
  </article>
</div>
